<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PCBlend - Inicio</title>
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/responsive.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="http://localhost:8080"><img src="../images/logo.jpg" alt="PCBlend Logo" /></a>
            </div>
            <ul>
                <li><a href="http://localhost:8080" class="active">Inicio</a></li>
                <li><a href="http://localhost:8080/productos/ensamblados">Productos</a></li>
                <li><a href="http://localhost:8080/customization/componentes">Personalización</a></li>
                <li><a href="http://localhost:8080/favorites">Favoritos</a></li>
                <li><a href="cart.html"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
            </ul>

            <% if (autenticado) { %>
                <div class="user-menu">
                    <form action="http://localhost:8080/login/logout" method="post">
                        <button type="submit">Cerrar sesión</button>
                    </form>
                </div>
            <% } else { %>
                <!-- Si el usuario NO está autenticado, mostramos el contenido de este bloque -->
                <div class="user-menu">
                    <!-- Contenido del menú para usuarios NO autenticados -->
                    <a href="http://localhost:8080/login">Iniciar sesión</a>
                    <a href="http://localhost:8080/registrar/render">Registrarse</a>
                </div>
            <% } %>
            <div class="menu-toggle">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>

    <main>
        <h1>Bienvenido a PCBlend</h1>
        <section id="hero">
            <div class="hero-image">
                <img src="../images/hero.webp" alt="Hero Image" />
                <p>Descubre el poder de la personalización y crea la PC de tus sueños.</p>
        <a href="http://localhost:8080/productos/ensamblados" class="btn">Ver productos</a>
            </div>
        </section>

        <h2 style="display: flex; justify-content: center;">Productos destacados</h2>
        <section id="featured-products" class="product-container">
            <% productos.forEach((producto, index)=> { %>
                <div class="product">
                    <img src="<%= producto.imagen %>" alt="" style="width: 225px; height: 45%;"/>
                    <h3><%= producto.nombre %></h3>
                    <p><%= producto.especificaciones %></p>
                    <a href="http://localhost:8080/perfil/<%= producto.id %>" class="btn">Ver detalles</a>
                </div>
            <% }); %>
        </section>

        <h2>Sobre nosotros</h2>
        <section id="about">
            <div class="about-image">
                <img src="../images/about.webp" alt="About Image" />
            </div>
            <p>PCBlend es tu destino para crear la PC perfecta. Ofrecemos componentes de alta calidad y la libertad de personalizar tu máquina según tus necesidades.</p>
        </section>
    </main>

    <footer>
        <div class="footer-top">
            <div class="logo">
                <img src="../images/logo.jpg" alt="PCBlend Logo" />
            </div>
            <div class="footer-links">
                <ul>
                <li><a href="http://localhost:8080" class="active">Inicio</a></li>
                <li><a href="http://localhost:8080/productos/ensamblados">Productos</a></li>
                <li><a href="http://localhost:8080/customization/componentes">Personalización</a></li>
                <li><a href="favorites.html">Favoritos</a></li>
                <li><a href="cart.html"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <ul>
                    <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 PCBlend. Todos los derechos reservados.</p>
        </div>
    </footer>

</body>
</html>