/* Estilos para el chatbot */
.chatbot-container {
    position: fixed;
    height: 400px;
    bottom: 20px;
    right: 20px;
    background-color: #cdc8c8;
    border: 1px solid #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    z-index: 9999;
}

#chat-display {
    height: 300px;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

#user-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

button {
    padding: 10px;
    background-color: #ff5c00;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-message {
    background-color: #ffffff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
}

.bot-message {
    background-color: #ff5c00;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
}

#limpiar-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #b2b0b0;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
}

#limpiar-btn:hover {
    background-color: #918f8f;
}

#minimizar-btn {
    position: absolute; /* Cambiado de fixed a absolute */
    top: 5px;            /* Ajuste fino de la posición */
    left: 5px;           /* Ajuste fino de la posición */
    background-color: #444145;
    color: white;
    border: none;
    border-radius: 50%;
    width: 10px;         /* Tamaño reducido */
    height: 10px;        /* Tamaño reducido */
    font-size: 10px;     /* Ajuste del tamaño del icono */
    cursor: pointer;
    display: flex;       /* Usar flexbox para centrar el ícono */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    z-index: 1001;
    transition: background-color 0.3s ease;
}

#minimizar-btn:hover {
    background-color: #999;
}


.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d3d0d0;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    z-index: 9999;
    overflow: hidden; /* Asegúrate de que el contenido no se desborde */
}

.chatbot-container.minimized {
    height: 40px; /* Altura mínima cuando está minimizado */
    overflow: hidden; /* Ocultamos el contenido cuando está minimizado */
}

.chatbot-container .chat-display {
    max-height: calc(100% - 40px); /* Ajustamos la altura máxima del chat-display */
    overflow-y: auto; /* Habilitamos el scroll en el chat-display */
}