/* Estilos para el chatbot */
.chatbot-container {
    position: fixed;
    height: 400px;
    bottom: 20px;
    right: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    z-index: 9999;
}

#chat-display {
    height: 300px;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

#user-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

button {
    padding: 10px;
    background-color: #ff5c00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-message {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
}

.bot-message {
    background-color: #ff5c00;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
}

#limpiar-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ccc;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
}

#limpiar-btn:hover {
    background-color: #999;
}

#minimizar-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1001;
    transition: background-color 0.3s ease;
}
#minimizar-btn:hover {
    background-color: #0056b3;
}

.chatbot-container {
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 1000;
    background-color: #f5f5f5;
    border-radius: 10px 10px 0 0;
    width: 300px;
    transition: height 0.3s ease;
    overflow-y: auto; /* Agregamos esta regla para activar el scroll cuando sea necesario */
}

.chatbot-container.minimized {
    height: 40px; /* Altura mínima cuando está minimizado */
    overflow: hidden; /* Ocultamos el contenido cuando está minimizado */
}

.chatbot-container .chat-display {
    max-height: calc(100% - 40px); /* Ajustamos la altura máxima del chat-display */
    overflow-y: auto; /* Habilitamos el scroll en el chat-display */
}
