.product-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif; /* Nueva tipografía */
}

.product-image {
    flex: 1;
    max-width: 50%;
    margin-right: 30px;
}

.product-image img {
    width: 100%; /* Asegura que la imagen sea responsive */
    height: auto;
}

.product-info {
    flex: 1;
    max-width: 50%;
}

.product-info h1 {
    font-size: 28px; /* Tamaño más grande para el título */
    font-weight: 500; /* Peso de la fuente */
    color: #000000; /* Color más oscuro para mejor lectura */
    margin-bottom: 15px;
}

.product-price {
    font-size: 22px;
    color: #ff5500 ; /* Un rojo más suave */
    font-weight: bold; /* Fuente en negrita */
    margin-bottom: 20px;
}

.product-description {
    font-size: 16px; /* Tamaño estándar para descripción */
    margin-bottom: 25px;
    color: #000000; /* Color gris oscuro para la descripción */
}

.product-specifications {
    margin-bottom: 30px;
}

.product-specifications h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-specifications ul {
    list-style-type: circle; /* Estilo de lista circular */
    padding-left: 30px; /* Aumentar el padding para alinear texto */
}

.product-actions .btn {
    padding: 10px 20px; /* Más padding para botones */
    font-size: 16px; /* Tamaño de fuente para botones */
    background-color: #ff5500; /* Color de fondo para botones */
    color: white; /* Texto en blanco para mejor contraste */
    border: none; /* Sin bordes */
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave al cambiar de color */
}

.product-actions .btn:hover {
    background-color: #ff5500; /* Cambio de color al pasar el mouse */
}
/* CSS para el toast */
.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff5500;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 0.3s, bottom 0.5s;
}

.toast.show {
    opacity: 1;
    bottom: 30px;
}
