.product-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.filter-group {
    margin-bottom: 10px;
}

.filter-group label {
    margin-right: 10px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 10px;
}

.product-price {
    font-weight: bold;
    color: #ff5500;
    margin-bottom: 10px;
}

.add-to-cart {
    display: inline-block;
    background-color: #ff5500;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #ff7f00;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 10px;
}


.card {
    display: flex;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    text-align: justify;
    margin-bottom: 2rem;    
}

.half-left {
    flex: 1;
    display: grid;
    align-items: center;
}
.half-right {
    flex: 2
}

.botones-seccion{
    display: flex;
    justify-content: right;
}
#continuar {
    flex: 2
}

#evaluacion {
    flex: 1
}


.continue-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff7f00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.continue-button:hover {
    background-color: #ff800093; /* Cambiar el color al pasar el ratón */
}

.evaluacion-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6f6b70;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.evaluacion-button:hover {
    background-color: #c5d3d93d; /* Cambiar el color al pasar el ratón */
}

.botones-seccion{
    display: flex;
    justify-content: right;
}